@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5% !important;
}
[class^="cl-"] {
  /* font-size: 100% !important; */
}
body {
}
.cl-internal-180wb59 {
  display: none;
}
:root {
  --btn-primary: #635fc7;
  --btn-primary-hover: #a8a4ff;
  --btn-secondary: #fff;
  --btn-secondary-hover: #fff;
  --btn-danger: #ea5555;
  --btn-danger-hover: #ff9898;
  --medium-grey: #828fa3;
  --dark-grey: #2b2c37;
  --very-dark-grey: #20212c;
  --hover: #635fc7;
  --input-border: rgba(130, 143, 163, 0.25);
  /* --black: #000112; */
}
.light-theme {
  --btn-primary: #635fc7;
  --btn-primary-hover: #a8a4ff;
  --btn-secondary: rgba(99, 95, 199, 0.1);
  --btn-secondary-hover: rgba(99, 95, 199, 0.25);
  --btn-danger: #ea5555;
  --btn-danger-hover: #ff9898;
  --medium-grey: #828fa3;
  --dark-grey: #fff;
  --very-dark-grey: #f4f7fd;
  --hover: #635fc7;
  --input-border: rgba(130, 143, 163, 0.25);
}
a,
a:focus,
a:active {
  color: white;
  text-decoration: none;
}
body {
  font-family: "Plus Jakarta Sans", sans-serif !important;
  font-size: 1.6rem;
  line-height: 1.6;
}
.sign-up,
.sign-in {
  background-color: var(--very-dark-grey);
  display: grid;
  place-items: center;
  height: 100vh;
}

main {
  position: relative;
  display: flex;
  font-family: "Plus Jakarta Sans", sans-serif;
  display: grid;
  height: 100vh;
  grid-template-columns: 30rem 1fr;
}
.sidebar {
  background-color: var(--dark-grey);

  padding-left: 3.2rem;
}
.tasks {
  display: flex;
  flex-direction: column;
}
.task-header {
  padding-block: 2rem;
  padding-inline: 2.4rem;
  background-color: var(--dark-grey);
  border-bottom: solid 1px #3e3f4e;
  display: flex;
  justify-content: space-between;
  color: #fff;
}
.task-body {
  background-color: var(--very-dark-grey);
  height: 100%;
}
.header-left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2.4rem;
}
.user-icon {
  /* height: 6rem;
  border-radius: 50%;
  width: 6rem;
  background-color: var(--btn-primary); */
}
/* BUTTONS */
/* .btn {
  padding: 1.4rem 2.5rem;
  border-radius: 200rem;
  background-color: var(--btn-primary);
  color: #fff;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  cursor: pointer;
} */

.btn {
  padding: 1.4rem 2.5rem;
  border-radius: 200rem;
  background-color: var(--btn-primary);
  color: var(--btn-secondary);
  border: none;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  text-transform: capitalize;
}
.btn-flat {
  border-radius: 5px;
  font-weight: bold;
}

.btn:hover {
  transform: translateY(-4px);
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.btn:active {
  transform: translateY(2px);
}

.ellipse {
  cursor: pointer;
}
.empty-board {
  color: var(--btn-secondary);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
}
.overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
  display: grid;
  place-items: center;
}
.close-btn {
  display: grid;
  place-items: center;
  cursor: pointer;
  position: absolute;
  top: 34px;
  right: 34px;
  z-index: 100;
  height: 4rem;
  width: 4rem;
  border-radius: 5px;
  /* border-radius: 50%; */
  background-color: var(--btn-secondary);
  padding: 1rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  color: white;
  transition: all 0.3s ease-in-out;
  background-color: var(--btn-secondary);
}
.close-btn svg path {
  fill: var(--btn-danger);
  transition: all 0.3s ease-in-out;
}
.close-btn:hover.close-btn svg path {
  fill: var(--btn-danger-hover);
}
.form {
  width: 48rem;
  padding: 3.2rem;
  background-color: var(--dark-grey);
  color: var(--btn-secondary);
  display: grid;
  gap: 2.4rem;
  border-radius: 5px;
}
.form label {
  display: block;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 1.2rem;
}
.form input {
  width: 100%;
  padding: 0.9rem 1.6rem;
  background-color: inherit;
  border: solid 1px var(--input-border);
  border-radius: 5px;
  color: var(--btn-secondary);
  font-size: inherit;
  font-weight: 300;
}

.form input::placeholder {
  font-size: 1.2rem;
}

input:focus {
  outline: none;
  border: 2px solid #4a90e2;
  border: 2px solid var(--input-border);
  box-shadow: 0 0 5px rgba(74, 144, 226, 0.5);
}
.add-column {
  display: flex;
  gap: 1.6rem;
  margin-bottom: 1.2rem;
}
.add-column span {
  align-self: center;
  cursor: pointer;
}
.add-column svg path {
  transition: all 0.3s ease-in-out;
}
.add-column span:hover svg path {
  fill: var(--btn-danger);
}
.mar-b {
  margin-bottom: 2.4rem;
}
.btn-block {
  width: 100%;
}
.error {
  color: var(--btn-danger);
  font-size: 1rem;
}
.logo {
  padding-top: 3.278rem;
  display: block;
  margin-bottom: 5.46rem;
}
.all-boards {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--medium-grey);
  letter-spacing: 2.4px;
  text-transform: uppercase;
  margin-bottom: 1.9rem;
}
.single-board {
  text-transform: capitalize;
  display: flex;
  align-items: center;
  gap: 1.6rem;
  padding-block: 1.5rem;
  color: var(--medium-grey);
  cursor: pointer;
  position: relative;
  z-index: 4;
  transition: all 0.3s ease-in-out;
}

.single-board::before {
  content: "";
  height: 100%;
  width: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: var(--btn-primary);
  border-top-right-radius: 50rem;
  border-bottom-right-radius: 50rem;
  margin-left: -5rem;
  transition: all 0.3s ease-in-out;
}

.single-board:hover::before,
.single-board.active::before {
  width: 100%;
}

.single-board:hover,
.single-board:hover .board-icon svg path,
.single-board.active,
.single-board.active .board-icon svg path {
  color: var(--btn-secondary);
  fill: var(--btn-secondary);
}
/* ///////////// */

.board-name {
  text-transform: capitalize;
  position: relative;
  padding-block: 1.4rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  width: 100%;
  color: var(--medium-grey);
  transition: all 0.3s ease-in-out;
  cursor: pointer;

  /* margin-bottom: 1rem; */
  z-index: 3;
}
.board-name::before {
  content: "";

  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 0;
  margin-left: -4rem;
  height: 100%;
  transition: all 0.3s ease-in-out;
}
.board-name:hover,
.board-name:hover .icon {
  color: var(--main-purple);
  fill: var(--main-purple);
}

.active-class {
  color: var(--white);
}
.active-class::before {
  background-color: var(--main-purple);
  border-top-right-radius: 500rem;
  border-bottom-right-radius: 500rem;
  width: 100%;
}
.active-class svg path {
  fill: var(--white);
}
.board-name:hover::before {
  width: 100%;
  background-color: var(--btn-secondary);
  border-top-right-radius: 200rem;
  border-bottom-right-radius: 200rem;
}
