@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,300;0,6..12,600;1,6..12,400&family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,500;0,700;1,200&display=swap");

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Plus Jakarta Sans", sans-serif;
}
:root {
  /* COLORS */
  --main-purple: #635fc7;
  --purple-hover: #a8a4ff;
  --dark-grey: #2b2c37;
  --dark-lines: #3e3f4e;
  --medium-grey: #828fa3;
  --grey-lines: #e4ebfa;

  --light-grey-bg: #f4f7fd;
  --white: #fff;
  --danger: #ea5555;
  --danger-hover: #ff9898;
  --black: #000112;
  --very-dark-grey-bg: #20212c;
}
body {
  font-size: 1.3rem;
}
h1 {
  font-size: 2.4rem;
}
h2 {
  font-size: 1.8rem;
}
h3 {
  font-size: 1.5rem;
}

.app-wrapper {
  display: grid;
  grid-template-columns: 25rem 1fr;
  height: 100vh;
}
.sidebar {
  background-color: var(--dark-grey);
}
.main-content {
  background-color: var(--very-dark-grey-bg);
}
.brand {
  width: 100%;
  padding: 1.5rem;
  display: flex;
}

.side-details {
  /* background-color: #635fc7; */
  padding: 2rem;
}
.brand span {
  margin-right: 1.5rem;
}
.brand h2 {
  color: var(--white);
}
.board-name {
  position: relative;
  display: flex;
  gap: 1rem;
  /* padding: 1rem 2rem; */
  padding-block: 1rem;
  color: var(--medium-grey);
  text-transform: capitalize;
  z-index: 1;
  margin-bottom: 1rem;
}
.board-name::before {
  position: absolute;
  transform: translateX(-3rem);
  gap: 1rem;
  top: 0;
  z-index: -1;
  content: "";
  width: 0%;
  height: 100%;
  background-color: transparent;
  border-top-right-radius: 500rem;
  border-bottom-right-radius: 500rem;
  transition: all 0.3s ease-in-out;
}
.board-name:hover::before {
  background-color: var(--main-purple);
  width: 100%;
}
.board-name:hover > * {
  color: var(--white);
}
.boards h4 {
  font-size: 1.2rem;
  letter-spacing: 2.4px;
  color: var(--medium-grey);
  text-transform: uppercase;
  margin-bottom: 2rem;
}
